body{
  background-color: #282c34;
}

.App {
  text-align: center;
  padding: 1rem;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.App-heading{
  font-size: 2.5rem;
  margin-bottom: 0;
}

.App-paragraph{
  font-size: 1.2rem;
  max-width: 48rem;
}

.App-input{
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 1rem;
  height: 1rem;
  width: 70vmin;
}

.App-subheading{
  margin: 1rem 0;
}

.meaning{
  text-decoration: underline;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type:none;
  padding: 0;
  max-width: 48rem;
}

.list>li{
  font-size: 2rem;
  margin: 0.5rem;
  cursor: pointer;
}



